<style>
.308_739 { 
	overflow:hidden;
}
.e308_739 { 
	background-color:rgba(255, 255, 255, 1);
	width:1024px;
	height:1366px;
	position:absolute;
}
.e308_760 { 
	width:1024px;
	height:62px;
	position:absolute;
	left:0px;
	top:0px;
}
.e308_761 { 
	background-color:rgba(247.00000047683716, 251.13332748413086, 255, 1);
	width:1024px;
	height:62px;
	position:absolute;
	left:0px;
	top:0px;
}
.e308_762 { 
	width:151px;
	height:25px;
	position:absolute;
	left:70px;
	top:18px;
}
.ei308_762_1090_17682 { 
	width:151px;
	height:24.995168685913086px;
	position:absolute;
	left:0px;
	top:0.004876014310866594px;
}
.ei308_762_1090_17683 { 
	width:151px;
	height:24.995168685913086px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei308_762_1090_17684 { 
	background-color:rgba(18.000000827014446, 48.000000938773155, 84.00000259280205, 1);
	width:11.925777435302734px;
	height:14.903877258300781px;
	position:absolute;
	left:38.714515686035156px;
	top:6.345627307891846px;
}
.ei308_762_1090_17685 { 
	background-color:rgba(18.000000827014446, 48.000000938773155, 84.00000259280205, 1);
	width:11.797203063964844px;
	height:11.158608436584473px;
	position:absolute;
	left:51.100608825683594px;
	top:10.075002670288086px;
}
.ei308_762_1090_17686 { 
	background-color:rgba(18.000000827014446, 48.000000938773155, 84.00000259280205, 1);
	width:11.925765991210938px;
	height:14.913191795349121px;
	position:absolute;
	left:63.36015319824219px;
	top:10.081937789916992px;
}
.ei308_762_1090_17687 { 
	background-color:rgba(18.000000827014446, 48.000000938773155, 84.00000259280205, 1);
	width:11.926750183105469px;
	height:11.131745338439941px;
	position:absolute;
	left:75.66049194335938px;
	top:10.099008560180664px;
}
.ei308_762_1090_17688 { 
	background-color:rgba(18.000000827014446, 48.000000938773155, 84.00000259280205, 1);
	width:10.19512939453125px;
	height:11.154195785522461px;
	position:absolute;
	left:87.67440795898438px;
	top:10.082880973815918px;
}
.ei308_762_1090_17689 { 
	background-color:rgba(18.000000827014446, 48.000000938773155, 84.00000259280205, 1);
	width:4.223106384277344px;
	height:16.133583068847656px;
	position:absolute;
	left:98.03761291503906px;
	top:4.932669162750244px;
}
.ei308_762_1090_17690 { 
	background-color:rgba(18.000000827014446, 48.000000938773155, 84.00000259280205, 1);
	width:7.370452880859375px;
	height:13.358915328979492px;
	position:absolute;
	left:102.58329772949219px;
	top:7.878394603729248px;
}
.ei308_762_1090_17691 { 
	background-color:rgba(18.000000827014446, 48.000000938773155, 84.00000259280205, 1);
	width:10.195198059082031px;
	height:11.15881633758545px;
	position:absolute;
	left:110.40494537353516px;
	top:10.078279495239258px;
}
.ei308_762_1090_17692 { 
	background-color:rgba(18.000000827014446, 48.000000938773155, 84.00000259280205, 1);
	width:1.8072280883789062px;
	height:1.8053913116455078px;
	position:absolute;
	left:120.80906677246094px;
	top:19.353368759155273px;
}
.ei308_762_1090_17693 { 
	background-color:rgba(18.000000827014446, 48.000000938773155, 84.00000259280205, 1);
	width:7.108100891113281px;
	height:7.3414716720581055px;
	position:absolute;
	left:123.08110809326172px;
	top:13.819772720336914px;
}
.ei308_762_1090_17694 { 
	background-color:rgba(18.000000827014446, 48.000000938773155, 84.00000259280205, 1);
	width:7.6377105712890625px;
	height:7.341184616088867px;
	position:absolute;
	left:130.63784790039062px;
	top:13.820054054260254px;
}
.ei308_762_1090_17695 { 
	background-color:rgba(18.000000827014446, 48.000000938773155, 84.00000259280205, 1);
	width:11.939590454101562px;
	height:7.253000259399414px;
	position:absolute;
	left:139.06040954589844px;
	top:13.813233375549316px;
}
.ei308_762_1090_17696 { 
	background-color:rgba(18.000000827014446, 48.000000938773155, 84.00000259280205, 1);
	width:6.412896633148193px;
	height:4.282087326049805px;
	position:absolute;
	left:0px;
	top:16.58331298828125px;
}
.ei308_762_1090_17697 { 
	background-color:rgba(18.000000827014446, 48.000000938773155, 84.00000259280205, 1);
	width:6.4197998046875px;
	height:4.282087326049805px;
	position:absolute;
	left:27.852134704589844px;
	top:16.58331298828125px;
}
.ei308_762_1090_17698 { 
	background-color:rgba(18.000000827014446, 48.000000938773155, 84.00000259280205, 1);
	width:28.30098533630371px;
	height:4.282087326049805px;
	position:absolute;
	left:2.7644896507263184px;
	top:16.58331298828125px;
}
.ei308_762_1090_17699 { 
	background-color:rgba(0, 0, 0, 1);
	width:25.458232879638672px;
	height:1.3758087158203125px;
	position:absolute;
	left:4.405689239501953px;
	top:18.266202926635742px;
}
.ei308_762_1090_17700 { 
	background-color:rgba(12.000000234693289, 185.00000417232513, 233.00000131130219, 1);
	width:25.458236694335938px;
	height:19.64198112487793px;
	position:absolute;
	left:4.405691146850586px;
	top:0px;
}
.ei308_762_1090_17701 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.537489891052246px;
	height:14.473687171936035px;
	position:absolute;
	left:12.869551658630371px;
	top:5.16832160949707px;
}
.e308_763 { 
	background-color:rgba(12.000000234693289, 185.00000417232513, 233.00000131130219, 1);
	width:1024px;
	height:4px;
	position:absolute;
	left:0px;
	top:0px;
}
.e308_764 { 
	color:rgba(136.00000709295273, 149.00000631809235, 167.00000524520874, 1);
	width:405px;
	height:35px;
	position:absolute;
	left:70px;
	top:94px;
	font-family:Circular Std;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e308_765 { 
	width:602px;
	height:30px;
	position:absolute;
	left:211px;
	top:1309px;
}
.e308_769 { 
	color:rgba(184.00000423192978, 196.00000351667404, 206.0000029206276, 1);
	width:602px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Circular Std;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e328_769 { 
	width:663px;
	height:206px;
	position:absolute;
	left:70px;
	top:153px;
}
.e312_997 { 
	width:327.0458984375px;
	height:20px;
	position:absolute;
	left:0.045867919921875px;
	top:36px;
}
.e311_989 { 
	color:rgba(95.00000193715096, 107.00000122189522, 122.00000032782555, 1);
	width:44px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Hero New;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e310_978 { 
	color:rgba(33.00000183284283, 41.00000135600567, 52.000000700354576, 1);
	width:101px;
	height:18px;
	position:absolute;
	left:226.0458984375px;
	top:1px;
	font-family:Circular Std;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e312_1001 { 
	width:330.04595947265625px;
	height:20px;
	position:absolute;
	left:0.04581928253173828px;
	top:72px;
}
.e310_965 { 
	color:rgba(33.00000183284283, 41.00000135600567, 52.000000700354576, 1);
	width:104px;
	height:18px;
	position:absolute;
	left:226.04595947265625px;
	top:1px;
	font-family:Circular Std;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e310_966 { 
	color:rgba(95.00000193715096, 107.00000122189522, 122.00000032782555, 1);
	width:82px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Hero New;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e312_999 { 
	width:305.0458984375px;
	height:20px;
	position:absolute;
	left:0.045867919921875px;
	top:146px;
}
.e310_975 { 
	color:rgba(95.00000193715096, 107.00000122189522, 122.00000032782555, 1);
	width:113px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Hero New;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e310_977 { 
	color:rgba(33.00000183284283, 41.00000135600567, 52.000000700354576, 1);
	width:79px;
	height:18px;
	position:absolute;
	left:226.0458984375px;
	top:1px;
	font-family:Circular Std;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e312_1000 { 
	width:423.0458984375px;
	height:20px;
	position:absolute;
	left:0.04587364196777344px;
	top:108px;
}
.e310_968 { 
	color:rgba(33.00000183284283, 41.00000135600567, 52.000000700354576, 1);
	width:197px;
	height:18px;
	position:absolute;
	left:226.0458984375px;
	top:1px;
	font-family:Circular Std;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e310_969 { 
	color:rgba(95.00000193715096, 107.00000122189522, 122.00000032782555, 1);
	width:99.7701187133789px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Hero New;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e312_998 { 
	width:305.0458984375px;
	height:20px;
	position:absolute;
	left:0.045867919921875px;
	top:184px;
}
.e310_962 { 
	color:rgba(95.00000193715096, 107.00000122189522, 122.00000032782555, 1);
	width:116px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Hero New;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e310_979 { 
	color:rgba(33.00000183284283, 41.00000135600567, 52.000000700354576, 1);
	width:79px;
	height:18px;
	position:absolute;
	left:226.0458984375px;
	top:1px;
	font-family:Circular Std;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e328_762 { 
	width:181px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
.e310_972 { 
	color:rgba(12.000000234693289, 185.00000417232513, 233.00000131130219, 1);
	width:165px;
	height:22px;
	position:absolute;
	left:16px;
	top:0px;
	font-family:Hero New;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e328_761 { 
	background-color:rgba(12.000000234693289, 185.00000417232513, 233.00000131130219, 1);
	width:4px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
.e381_1266 { 
	width:305px;
	height:24px;
	position:absolute;
	left:358px;
	top:182px;
}
.e381_1267 { 
	width:305px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e381_1268 { 
	width:93px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e381_1269 { 
	color:rgba(33.00000183284283, 41.00000135600567, 52.000000700354576, 1);
	width:61px;
	height:18px;
	position:absolute;
	left:32px;
	top:3px;
	font-family:Circular Std;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e381_1270 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e381_1271 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e381_1272 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e381_1273 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e381_1274 { 
	background-color:rgba(12.000000234693289, 185.00000417232513, 233.00000131130219, 1);
	width:18px;
	height:18px;
	position:absolute;
	left:3px;
	top:3px;
}
.e381_1275 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0.091766357421875px;
	top:0px;
}
.e381_1276 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e381_1277 { 
	background-color:rgba(12.000000234693289, 185.00000417232513, 233.00000131130219, 1);
	width:18px;
	height:18px;
	position:absolute;
	left:3px;
	top:3px;
}
.e381_1278 { 
	width:81px;
	height:24px;
	position:absolute;
	left:224px;
	top:0px;
}
.e381_1279 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e381_1280 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e381_1281 { 
	background-color:rgba(12.000000234693289, 185.00000417232513, 233.00000131130219, 1);
	width:18px;
	height:18px;
	position:absolute;
	left:3px;
	top:3px;
}
.e381_1282 { 
	color:rgba(33.00000183284283, 41.00000135600567, 52.000000700354576, 1);
	width:49px;
	height:18px;
	position:absolute;
	left:32px;
	top:3px;
	font-family:Circular Std;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e328_770 { 
	width:870px;
	height:62px;
	position:absolute;
	left:70px;
	top:391px;
}
.e326_1011 { 
	width:870px;
	height:24px;
	position:absolute;
	left:0px;
	top:38px;
}
.e326_1012 { 
	width:208px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e326_1013 { 
	color:rgba(33.00000183284283, 41.00000135600567, 52.000000700354576, 1);
	width:176px;
	height:18px;
	position:absolute;
	left:32px;
	top:3px;
	font-family:Circular Std;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e326_1014 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e326_1015 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e326_1027 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e326_1028 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e326_1029 { 
	background-color:rgba(12.000000234693289, 185.00000417232513, 233.00000131130219, 1);
	width:18px;
	height:18px;
	position:absolute;
	left:3px;
	top:3px;
}
.e350_701 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0.091766357421875px;
	top:0px;
}
.e350_702 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e350_703 { 
	background-color:rgba(12.000000234693289, 185.00000417232513, 233.00000131130219, 1);
	width:18px;
	height:18px;
	position:absolute;
	left:3px;
	top:3px;
}
.e326_1030 { 
	width:339px;
	height:24px;
	position:absolute;
	left:224px;
	top:0px;
}
.e326_1019 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e326_1020 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e326_1021 { 
	background-color:rgba(12.000000234693289, 185.00000417232513, 233.00000131130219, 1);
	width:18px;
	height:18px;
	position:absolute;
	left:3px;
	top:3px;
}
.e326_1023 { 
	color:rgba(33.00000183284283, 41.00000135600567, 52.000000700354576, 1);
	width:307px;
	height:18px;
	position:absolute;
	left:32px;
	top:3px;
	font-family:Circular Std;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e326_1031 { 
	width:291px;
	height:24px;
	position:absolute;
	left:579px;
	top:0px;
}
.e326_1018 { 
	color:rgba(33.00000183284283, 41.00000135600567, 52.000000700354576, 1);
	width:259px;
	height:18px;
	position:absolute;
	left:32px;
	top:3px;
	font-family:Circular Std;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e326_1024 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e326_1025 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e326_1026 { 
	background-color:rgba(12.000000234693289, 185.00000417232513, 233.00000131130219, 1);
	width:18px;
	height:18px;
	position:absolute;
	left:3px;
	top:3px;
}
.e328_764 { 
	width:80px;
	height:22px;
	position:absolute;
	left:3px;
	top:0px;
}
.e326_1010 { 
	color:rgba(12.000000234693289, 185.00000417232513, 233.00000131130219, 1);
	width:64px;
	height:22px;
	position:absolute;
	left:16px;
	top:0px;
	font-family:Hero New;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e328_763 { 
	background-color:rgba(12.000000234693289, 185.00000417232513, 233.00000131130219, 1);
	width:4px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
.e328_771 { 
	width:865px;
	height:417px;
	position:absolute;
	left:70px;
	top:485px;
}
.e328_755 { 
	width:865px;
	height:357px;
	position:absolute;
	left:0px;
	top:38px;
}
.e326_1033 { 
	background-color:rgba(252.00000017881393, 252.00000017881393, 254.00000005960464, 1);
	width:865px;
	height:347px;
	position:absolute;
	left:0px;
	top:10px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}
/* .326_1033 { 
	border:1px solid rgba(225.00000178813934, 231.00000143051147, 236.00000113248825, 1);
} */
.e328_751 { 
	width:865px;
	height:304px;
	position:absolute;
	left:0px;
	top:0px;
}
.e328_726 { 
	background-color:rgba(220.73438107967377, 241.1117908358574, 246.76562905311584, 1);
	width:865px;
	height:303px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}
.e328_749 { 
	width:862px;
	height:304px;
	position:absolute;
	left:1px;
	top:0px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}
.e328_750 { 
	background-color:rgba(12.000000234693289, 185.00000417232513, 233.00000131130219, 0.12999999523162842);
	width:862.014404296875px;
	height:304.0050964355469px;
	position:absolute;
	left:-9.50350909079134e-14px;
	top:-0.005929804872721434px;
}
.e328_754 { 
	color:rgba(12.239994406700134, 156.0599970817566, 204.00000303983688, 1);
	opacity:0.15000000596046448;
	width:312px;
	height:168px;
	position:absolute;
	left:162px;
	top:68px;
	font-family:Hero New;
	text-align:left;
	font-size:120px;
	letter-spacing:0;
}
.e328_752 { 
	width:800px;
	height:20px;
	position:absolute;
	left:33px;
	top:321px;
}
.e327_1081 { 
	color:rgba(33.00000183284283, 41.00000135600567, 52.000000700354576, 1);
	width:164px;
	height:17px;
	position:absolute;
	left:0px;
	top:1px;
	font-family:Bitwise;
	text-align:left;
	font-size:17px;
	letter-spacing:22;
}
.e328_701 { 
	color:rgba(33.00000183284283, 41.00000135600567, 52.000000700354576, 1);
	width:164px;
	height:17px;
	position:absolute;
	left:187px;
	top:1px;
	font-family:Bitwise;
	text-align:left;
	font-size:17px;
	letter-spacing:22;
}
.e328_702 { 
	color:rgba(33.00000183284283, 41.00000135600567, 52.000000700354576, 1);
	width:56px;
	height:17px;
	position:absolute;
	left:374px;
	top:1px;
	font-family:Bitwise;
	text-align:left;
	font-size:17px;
	letter-spacing:22;
}
.e383_722 { 
	color:rgba(33.00000183284283, 41.00000135600567, 52.000000700354576, 1);
	width:131px;
	height:20px;
	position:absolute;
	left:669px;
	top:0px;
	font-family:Circular Std;
	text-align:right;
	font-size:16px;
	letter-spacing:0;
}
.e327_1042 { 
	color:rgba(33.00000183284283, 41.00000135600567, 52.000000700354576, 1);
	width:215px;
	height:25px;
	position:absolute;
	left:30px;
	top:112px;
	font-family:Hero New;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e327_1045 { 
	color:rgba(33.00000183284283, 41.00000135600567, 52.000000700354576, 1);
	width:29px;
	height:20px;
	position:absolute;
	left:32px;
	top:229px;
	font-family:Hero New;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e327_1080 { 
	color:rgba(33.00000183284283, 41.00000135600567, 52.000000700354576, 1);
	width:65px;
	height:20px;
	position:absolute;
	left:540px;
	top:186px;
	font-family:Hero New;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e327_1041 { 
	color:rgba(33.00000183284283, 41.00000135600567, 52.000000700354576, 1);
	width:197px;
	height:36px;
	position:absolute;
	left:32px;
	top:58px;
	font-family:Circular Std;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e327_1040 { 
	color:rgba(33.00000183284283, 41.00000135600567, 52.000000700354576, 1);
	width:131px;
	height:20px;
	position:absolute;
	left:32px;
	top:31px;
	font-family:Circular Std;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e328_703 { 
	color:rgba(95.00000193715096, 107.00000122189522, 122.00000032782555, 1);
	width:28px;
	height:23px;
	position:absolute;
	left:805px;
	top:40px;
	font-family:Circular Std;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
/* .327_1043 { 
	border:1px solid rgba(0, 0, 0, 1);
} */
.e327_1043 { 
	width:498px;
	height:0px;
	position:absolute;
	left:32px;
	top:159px;
}
/* .327_1044 { 
	border:1px solid rgba(0, 0, 0, 1);
} */
.e327_1044 { 
	width:502px;
	height:0px;
	position:absolute;
	left:32px;
	top:201px;
}
/* .328_725 { 
	border:1px solid rgba(0, 0, 0, 1);
} */
.e328_725 { 
	width:502px;
	height:0px;
	position:absolute;
	left:32px;
	top:264px;
}
.e328_707 { 
	width:234px;
	height:40px;
	position:absolute;
	left:543px;
	top:119px;
}
.e327_1048 { 
	background-color:rgba(251.00000023841858, 252.00000017881393, 252.00000017881393, 1);
	width:206px;
	height:40px;
	position:absolute;
	left:28px;
	top:0px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}
.e327_1049 { 
	color:rgba(33.00000183284283, 41.00000135600567, 52.000000700354576, 1);
	width:15px;
	height:30px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Circular Std;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e328_766 { 
	width:126px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
.e326_1032 { 
	color:rgba(12.000000234693289, 185.00000417232513, 233.00000131130219, 1);
	width:110px;
	height:22px;
	position:absolute;
	left:16px;
	top:0px;
	font-family:Hero New;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e328_765 { 
	background-color:rgba(12.000000234693289, 185.00000417232513, 233.00000131130219, 1);
	width:4px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
.e328_774 { 
	color:rgba(95.00000193715096, 107.00000122189522, 122.00000032782555, 1);
	width:805px;
	height:14px;
	position:absolute;
	left:0px;
	top:403px;
	font-family:Hero New;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e383_752 { 
	width:899px;
	height:280px;
	position:absolute;
	left:70px;
	top:934px;
}
.e377_706 { 
	width:360px;
	height:62px;
	position:absolute;
	left:0px;
	top:135px;
}
.e377_702 { 
	color:rgba(95.00000193715096, 107.00000122189522, 122.00000032782555, 1);
	width:220px;
	height:22px;
	position:absolute;
	left:70px;
	top:40px;
	font-family:Hero New;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e377_703 { 
	color:rgba(33.00000183284283, 41.00000135600567, 52.000000700354576, 1);
	width:121px;
	height:29px;
	position:absolute;
	left:110px;
	top:0px;
	font-family:Brush Script MT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.377_705 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e377_705 { 
	width:360px;
	height:0px;
	position:absolute;
	left:0px;
	top:31px;
}
.e377_707 { 
	width:360px;
	height:60px;
	position:absolute;
	left:483px;
	top:137px;
}
.e377_708 { 
	color:rgba(95.00000193715096, 107.00000122189522, 122.00000032782555, 1);
	width:38px;
	height:22px;
	position:absolute;
	left:161px;
	top:38px;
	font-family:Hero New;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e377_709 { 
	color:rgba(33.00000183284283, 41.00000135600567, 52.000000700354576, 1);
	width:101px;
	height:23px;
	position:absolute;
	left:130px;
	top:0px;
	font-family:Circular Std;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.377_710 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e377_710 { 
	width:360px;
	height:0px;
	position:absolute;
	left:0px;
	top:29px;
}
.e328_772 { 
	width:220px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
.e328_768 { 
	width:220px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
.e312_1003 { 
	color:rgba(12.000000234693289, 185.00000417232513, 233.00000131130219, 1);
	width:204px;
	height:22px;
	position:absolute;
	left:16px;
	top:0px;
	font-family:Hero New;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e328_767 { 
	background-color:rgba(12.000000234693289, 185.00000417232513, 233.00000131130219, 1);
	width:4px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
.e381_1082 { 
	color:rgba(0, 0, 0, 1);
	width:899px;
	height:66px;
	position:absolute;
	left:0px;
	top:43px;
	font-family:Hero New;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e383_721 { 
	color:rgba(0, 0, 0, 1);
	width:847px;
	height:51px;
	position:absolute;
	left:0px;
	top:229px;
	font-family:Hero New;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}

</style>

<div class="container">
    <div class=e308_739>
        <div class=e308_760>
          <div class="e308_761"></div>
          <div class=e308_762>
            <div class=ei308_762_1090_17682>
              
              <img src="logo.png" alt="Logo" style="width: 180px;" />
              <!-- <div class=ei308_762_1090_17683>
                <div class="ei308_762_1090_17684"></div>
                <div class="ei308_762_1090_17685"></div>
                <div class="ei308_762_1090_17686"></div>
                <div class="ei308_762_1090_17687"></div>
                <div class="ei308_762_1090_17688"></div>
                <div class="ei308_762_1090_17689"></div>
                <div class="ei308_762_1090_17690"></div>
                <div class="ei308_762_1090_17691"></div>
                <div class="ei308_762_1090_17692"></div>
                <div class="ei308_762_1090_17693"></div>
                <div class="ei308_762_1090_17694"></div>
                <div class="ei308_762_1090_17695"></div>
                <div class="ei308_762_1090_17696"></div>
                <div class="ei308_762_1090_17697"></div>
                <div class="ei308_762_1090_17698"></div>
                <div class="ei308_762_1090_17699"></div>
                <div class="ei308_762_1090_17700"></div>
                <div class="ei308_762_1090_17701"></div>
              </div> -->
            </div>
          </div>
          <div class="e308_763"></div>
        </div><span  class="e308_764">Direct Deposit Enrollment Form</span>
        <div class=e308_765><span  class="e308_769">©2021 Deposits.com. All Rights Reserved. 2001 Ross Avenue, Suite 8 F Dallas, TX 75201. Deposits.com is a financial technology company, not a bank. Banking services provided by insured partner Banks.</span></div>
        <div class=e328_769>
          <div class=e312_997><span  class="e311_989">Name:</span><span  class="e310_978">{{user.name}}</span></div>
          <div class=e312_1001><span  class="e310_965">{{user.bankName}}</span><span  class="e310_966">Bank Name:</span></div>
          <div class=e312_999><span  class="e310_975">{{user.routingNumber}}</span><span  class="e310_977">2348975478</span></div>
          <div class=e312_1000><span  class="e310_968">{{user.address}}</span><span  class="e310_969">Address:</span></div>
          <div class=e312_998><span  class="e310_962">Account Number:</span><span  class="e310_979">{{user.accountNumber}}</span></div>
          <div class=e328_762><span  class="e310_972">Account information</span>
            <div class="e328_761"></div>
          </div>
          <div class=e381_1266>
            <div class=e381_1267>
              <div class=e381_1268><span  class="e381_1269">Checking</span>
                <div class=e381_1270>
                  <div class="e381_1271"></div>
                  <div class=e381_1272>
                    <div class="e381_1273"></div>
                    <div class="e381_1274"></div>
                  </div>
                  <div class=e381_1275>
                    <div class="e381_1276"></div>
                    <div class="e381_1277"></div>
                  </div>
                </div>
              </div>
              <div class=e381_1278>
                <div class=e381_1279>
                  <div class="e381_1280"></div>
                  <div class="e381_1281"></div>
                </div><span  class="e381_1282">Savings </span>
              </div>
            </div>
          </div>
        </div>
        <div class=e328_770>
          <div class=e326_1011>
            <div class=e326_1012><span  class="e326_1013">Deposit my entire paycheck</span>
              <div class=e326_1014>
                <div class="e326_1015"></div>
                <div class=e326_1027>
                  <div class="e326_1028"></div>
                  <div class="e326_1029"></div>
                </div>
                <div class=e350_701>
                  <div class="e350_702"></div>
                  <div class="e350_703"></div>
                </div>
              </div>
            </div>
            <div class=e326_1030>
              <div class=e326_1019>
                <div class="e326_1020"></div>
                <div class="e326_1021"></div>
              </div><span  class="e326_1023">Deposit $......................... dollars of my paycheck</span>
            </div>
            <div class=e326_1031><span  class="e326_1018">Deposit.............. percent of my paycheck</span>
              <div class=e326_1024>
                <div class="e326_1025"></div>
                <div class="e326_1026"></div>
              </div>
            </div>
          </div>
          <div class=e328_764><span  class="e326_1010">Amount</span>
            <div class="e328_763"></div>
          </div>
        </div>
        <div class=e328_771>
          <div class=e328_755>
            <div class="e326_1033"></div>
            <div class=e328_751>
              <div class="e328_726"></div>
              <div class=e328_749>
                <div class="e328_750"></div><span  class="e328_754">VOID</span>
              </div>
            </div>
            <div class=e328_752><span  class="e327_1081">⑆6654970052</span><span  class="e328_701">⑈2348975478</span><span  class="e328_702">⑈123</span><span  class="e383_722">{{user.bankName}}</span></div><span  class="e327_1042">PAY TO THE ORDER OF</span><span  class="e327_1045">FOR</span><span  class="e327_1080">DOLLARS</span><span  class="e327_1041">{{user.address}}
      {{user.city}}, {{user.state}}, {{user.zip}} </span><span  class="e327_1040">{{user.name}}</span><span  class="e328_703">123</span>
            <div class="e327_1043"></div>
            <div class="e327_1044"></div>
            <div class="e328_725"></div>
            <div class=e328_707>
              <div class="e327_1048"></div><span  class="e327_1049">$</span>
            </div>
          </div>
          <div class=e328_766><span  class="e326_1032">Voided Check</span>
            <div class="e328_765"></div>
          </div><span  class="e328_774">The image of this voided check may be provided to your employer or other payer for no other purpose except to set up direct deposit to your Deposits.com Account.</span>
        </div>
        <div class=e383_752>
          <div class=e377_706><span  class="e377_702">Signature of Account Holder</span><span  class="e377_703">{{user.name}}</span>
            <div class="e377_705"></div>
          </div>
          <div class=e377_707><span  class="e377_708">Date</span><span  class="e377_709">Oct 28, 2021</span>
            <div class="e377_710"></div>
          </div>
          <div class=e328_772>
            <div class=e328_768><span  class="e312_1003">Authorization Agreement</span>
              <div class="e328_767"></div>
            </div>
          </div><span  class="e381_1082">I authorize my employer/payer to initiate credit entries, and, if necessary to initiate any debit entries to correct previous credit errors, to my Deposits.com Account. This authority will remain in effect until I notify my employer or other payer in writing or as otherwise specified by my employer or payer.</span><span  class="e383_721">Direct deposit capability is subject to payer's support of this feature. Check with your payer to find out when the direct deposit of funds will start. Funds availability is subject to timing of payer’s funding. The recipient’s name on any deposits received must match the name of the Deposits.com account holder. Any deposits received in a name other than the name registered to the Deposits.com account will be returned to the originator.</span>
        </div>
      </div>
</div>